<!DOCTYPE html>
<html lang="en">
  <head>
    <title>The Mikasuki Language</title>
    <meta charset="utf-8">
    <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/d319f3a5da.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body data-spy="scroll" data-target=".navbar">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Mikasuki</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <li><a href="#video">Video</a></li>
          <li><a href="#miccosukee">Miccosukee</a></li>
          <li><a href="#mikasuki">Mikasuki</a></li>
          <li><a href="#history">History</a></li>
          <li><a href="#facts">Facts</a></li>
          <li><a href="#cando">What can you do?</a></li>

        </ul>
      </div>

    </div>
   
  </nav>

  <header id="home">
    <h1>The Mikasuki Language</h1>
    <p>The Miccosukee Tribe of Indians of Florida</p>
  </header> 

  <div id="video" class="container-fluid">

    <h2>Lost Languages - Mikasuki</h2>

    <p>This video show the importance of preserving native languages that are in danger of being extinct.</p>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/ID_6ejzIv1Y" frameborder="0" allowfullscreen></iframe>

  </div>

   <div id="miccosukee">
    <div class="container-fluid">
      <h2>Who are the Miccosukee?</h2>
      <p>

 		The Miccosukee Tribe of Indians of Florida is a federally recognized Native American tribe in the U.S. state of Florida. They were part of the Seminole nation until the mid-20th century, when they organized as an independent tribe, receiving federal recognition in 1962. The Miccosukee speak the Mikasuki language. There are 600 members of the Miccosukee Indian Nation.

 		The Miccosukee Indian Nation are the owners of the Miccosukee Resort & Gaming business, and others.

      </p>

    </div>

  <div id="mikasuki">
    <div class="container-fluid">
      <h2>Mikasuki Language and its Importance</h2>
      <p>
        The Mikasuki language is spoken by them and other members of the Seminole Indian Nation. 90% of them are fluent in Miccosukee, and only a few are monolingual in Mikasuki and the rest speak English.

      	However, ten years ago it was spoken only by a 100 members. There is a lack of language knowledge and resources and this page is created to help create awareness about the Miccosukees and their language.

      	Losing the Mikasuki language, any language, means we lose an enormous cultural heritage, and most importantly we lose the expression of the community humor, love and tradition. We lose the testimony of centuries of life.

      </p>

    </div>
  </div>

  <div id="history">
    <div class="container-fluid">
      <h2>Mikasuki Language and its Importance</h2>
      <p>
       - Originally inhabited the upper Tennessee Valley in present-day Georgia. They were part of the Chiaha.

		- Later they split, the Miccosukee were part of the Lower Chiaha, migrated northeast to the Carolinas.

	- Under continuing encroachment pressure from European-American settlers, many migrated to northern Florida during the 18th and 19th centuries.

	- The Lower Chiaha comprised the major part of the Seminole tribe, which formed in the eighteenth century in Florida through a process of Ethnogenesis. They numbered about 6,000 by the early 19th century.

	- In 1821 the United States (US) acquired Florida from Spain, and it increased pressure for removal against the Seminole/Creek from Florida. It relocated several thousand Seminole and hundreds of Black Seminoles, who lived in close association as allies, to the Indian Territory.

	- Those who remained in Florida fought against US forces during the second and third Seminole Wars. They had moved into central Florida and the Everglades to try to evade European-American settlement pressure.

- Descendants of those who remained in Florida were concentrated in the central part of the state. In the 1920s and 1930s, many Seminole established communities along the Tamiami Trail.

- The tribe had long maintained its distinction from the Seminole, whom they believed were more willing to adapt to the majority culture.

- Seminole achieved federal recognition in 1957, and moved onto designated Indian reservations in Florida starting in the 1930s and 1940s.

- The Trail People began to organize as the Miccosukee Seminole Tribe and gained federal recognition in 1962 as the Miccosukee Tribe of Indians of Florida.


      </p>

    </div>
  </div>

   <div id="facts">
    <div class="container-fluid">
      <h2>Facts </h2>
      <p>
        How do you pronounce the word "Miccosukee"? What does it mean?
Miccosukee is pronounced "mick-uh-SOO-kee." It comes from the Miccosukee word Mika "chief" and Suki "hawk". Sometimes it is spelled Mikasuki instead. 

Are the Miccosukees Seminole people?
No, but some Seminoles are Miccosukee people. The Seminole tribe was originally an alliance between certain Creek, Miccosukee, Hitchiti, Oconee, and other Florida and Georgia Indians. Most Miccosukee people joined the Seminoles, but others still consider themselves distinct. 

Where do the Miccosukees live?
The Miccosukees are original people of southern Georgia and northern Florida. 

How is the Miccosukee Indian nation organized?
The Miccosukee tribe has their own reservation, which is land that belongs to them and is legally under their control. Not all Miccosukee people live on this reservation, however. Most Miccosukee people live on the two Seminole reservations in Oklahoma and Florida. 

Each of these three tribes has its own government, laws, police, and services, just like a small country. However, the Miccosukees and Seminoles are also US citizens and must obey American law. 

      </p>

    </div>
  </div>

  <div id="cando">
    <div class="container-fluid">
      <h2>What can you do?</h2>
      <p>
        Will fill this out later

      </p>

    </div>
  </div>


  <footer id="contact" class="footer">
    <div class="container-fluid">
      <h2>Have any questions? Ask us!</h2>
      <h5>Email: mikasukilanguage@gmail.com</h5>
      <br />
    </div>
  </footer>

  <script type="text/javascript" src="script.js"></script>

  </body>
</html>